{%- for service in rsyslog_apps -%}
{%- for env in envs -%}
{%- if  env == "sand" -%}
:syslogtag, contains, "{{service}}_{{env}}" /data/app-log/{{service}}-{{env}}/{{service}}_{{env}}.log
{% endif %}

{%- endfor -%}
{%- endfor -%}

{%- for service in rsyslog_apps -%}
{%- for env in envs -%}
{%- if  env == "prod" -%}
:syslogtag, contains, "{{service}}_{{env}}" /data/app-log/{{service}}-{{env}}/{{service}}_{{env}}.log
{% endif %}

{%- endfor -%}
{%- endfor -%}

{%- for service in rsyslog_apps -%}
{%- for env in envs -%}
{%- if  env == "stag" -%}
:syslogtag, contains, "{{service}}_{{env}}" /data/app-log/{{service}}-{{env}}/{{service}}_{{env}}.log
{% endif %}

{%- endfor -%}
{%- endfor -%}